body {
    background-color: #347474;
}
p {
    margin-left: 1%;
    margin-right: 1%;
}
b {
    margin-left: 1%;
}
u {
    margin-left: 1%;
}
h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    text-align: center;
}
.row {   
    background-color: #35495e;
    color: rgb(194, 223, 186);
}
.top {
    background-color: #35495e;
    color: rgb(194, 223, 186);
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
}
.top p {
    margin: 30px;
    text-align: center;
}
.header {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-align: center;
}
.row a {
    color: lightblue;
}
.mid {
    background-color: #42b883;
    color: black;
    align-items: center;
    font-size: 25px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}
.contact {
    font-family: arial;
    font-size: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.contact a {
    color: lightblue;
}
.footer {
    padding-bottom: 1px;
    padding-top: 1px;
}
a {
    color: #2045c9;
}
#headshot{
    height: 400px;
    border: 5px solid green;
    margin-left: 1%;
    margin-bottom: 1%;
}
.projects {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.imageTitle {
    
}
#backButton {
    margin-left: 1%;
}
.display {
    height: 300px;
    border: 1px solid black;
}
.uiImage {
    height: 350px;
    border: 1px solid black;
}
#backTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border: none;
    outline: none;
    background-color: #35495e;
    color: lightblue;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    padding: 10px;
}
#backTop:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25), 0 20px 40px 0 rgba(0,0,0,0.15);
}